.links-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 30px 0 30px;
}

.app-logo {
    width: 100px;
    border-radius: 20%;
}

.app-item {
    padding: 30px;
}

.app-name {
    text-align: center;
}