@import '~antd/dist/antd.css';

.app-layout {
    min-height: 100%;
}

.logo {
    width: 50px;
    float: left;
    margin: 7px 30px 0px -15px;
}

.site-layout-background {
  background: #fff;
}

.google-button {
    position: absolute;
    top: 15px;
    right: 60px;

}

.greeting {
    position: absolute;
    top: 0px;
    right: 180px;
    color: white;
}

.google-avatar {
    max-width: 45px;
    padding: 0 0 2px 5px;
}
